$white: #fff;
$dark: #3f3f3f;

$box-shadow: -5px 8px 10px rgba(0, 0, 0, 0.2);

/*** Button Gradient ***/
$gradient-button-background: linear-gradient(180deg, #ea585f 0%, #f96b7b 100%);

/*** Main body gradient ***/
$gradient-main-background: linear-gradient(90deg, #d57589 0%, #ffc7a3 100%);

/*** Card color section ***/
$card-background-color-1: #fdf9e2;
$card-background-img-1: linear-gradient(90deg, #ecd6d8 0%, #f9e2d2 100%);

$card-background-color-2: #e4b3fa;
$card-background-img-2: linear-gradient(90deg, #bf92f1 0%, #e4b3fa 100%);

$card-background-color-3: #9fffd6;
$card-background-img-3: linear-gradient(90deg, #69e7b7 0%, #9fffd6 100%);

$card-background-color-4: #fdf5d2;
$card-background-img-4: linear-gradient(90deg, #febea7 0%, #fdf5d2 100%);

$card-background-color-5: #ff8e80;
$card-background-img-5: linear-gradient(90deg, #fd556b 0%, #ff8e80 100%);

$card-background-color-6: #ffd054;
$card-background-img-6: linear-gradient(90deg, #f89e27 0%, #ffd054 100%);